.search-no-results,
.error404 {
  .site-content {
    .not-found,
    .error-404 {
      .page-content {
        p {
          font-family: $font__secondary;
        }

        label {
          width: 300px;
          input[type='search'] {
            font-family: $font__secondary;
          }
        }
      }
      .widget {
        h2 {
          font-family: $font__headers;
          text-transform: uppercase;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            a {
              text-decoration: none;

              &:hover {
                color: $color__link-visited;
              }
              &:visited {
                color: #248a83;
              }
            }
          }
        }
        select {
          font-family: $font__secondary;
          text-transform: none;
        }
      }
    }
  }
}

.search-no-results,
.search-results {
  .site-content {
    padding-top: 60px;
  }
  h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.5rem;
    a {
      color: #404040;
      text-transform: uppercase;
    }
  }
  .read-more-btn {
    width: 100%;

    a {
      color: black;
      padding: 0.75rem 1.25rem;
      font-size: 0.9rem;
      border: 1px solid black;
      text-transform: uppercase;

      &:hover {
        background-color: #248a83;
        color: white;
        border: none;
      }
    }
  }
}
