.page-about {
  .site-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template: ' main ';
  }

  .content-area {
    grid-area: main;
  }

  .hero-image-header {
    width: 100%;
    height: 100vh;
  }

  .entry-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    // text-align: center;
    // justify-content: space-between;

    h2 {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      position: static;
    }
    p {
      width: 60%;
      margin: 0 auto;
      text-align: left;
      padding: 20px;
    }
  }
}
