.archive {
  .content-area {
    padding-top: 60px;
  }
  .product-type {
    text-align: center;
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 48px;

    h1 {
      text-transform: uppercase;
    }

    .taxonomy-description {
      font-family: 'Merriweather Web', serif;
    }
  }
  .site-main {
    @include main-container-size;
    margin-bottom: 72px;

    .shop-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      border-bottom: 1px dashed #c8c8c8;
      margin-bottom: 48px;
      h1 {
        width: 100%;
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 2.4rem;
        letter-spacing: 2px;
        margin-top: 0;
      }
      .product-terms {
        width: 30%;
        display: grid;
        grid-column-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'shop-term shop-term shop-term shop-term';
        margin-bottom: 3rem;

        .shop-terms {
          a {
            grid-area: shop-term;
            text-decoration: none;
            text-transform: uppercase;
            color: #248a83;
            font-size: 1.2rem;

            &:hover {
              color: #2f1339;
            }
          }
        }
      }
    }
  }

  .article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    width: 100%;

    article {
      width: 100%;
      border: 1px solid #e1e1e1;
      margin: 0;

      img {
        height: 200px;
        object-fit: cover;
      }

      .entry-content {
        margin: 0;
      }

      .product-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: flex-end;
        padding: 12px 16px 12px 16px;
        position: relative;
        overflow: hidden;

        h2 {
          margin: 0;
          font-weight: 400;
          font-size: 1rem;
          text-decoration: none;
          font-family: 'Merriweather Web', serif;
          font-weight: 400;
          margin-right: 3px;
          color: #2f1339;

          &::before {
            content: '...........................';
            white-space: nowrap;
            float: right;
            width: 0;
            box-sizing: inherit;
          }
        }

        .entry-price {
          font-family: 'Merriweather Web', serif;
          background: white;
          border-left: solid 3px white;
          margin-left: 5px;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
