/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

.site-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template: 'main aside';

  .content-area {
    grid-area: main;
  }

  .widget-area {
    grid-area: aside;
  }
}

.page-id-6 {
  .site-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template: ' main ';
  }

  .content-area {
    grid-area: main;
  }
}
