.page-find-us {
  @include side-bar;

  h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2.1rem;
    text-transform: uppercase;
  }
  .site-content {
    @include main_container_size;
    padding-top: 60px;

    .content-area {
      padding: 48px 56px 48px 0;

      iframe {
        height: 300px;
      }
    }

    .entry-content {
      margin-top: 24px;
    }
  }
  form {
    input[type='submit'] {
      padding: 12px 24px;
      background: #248a83;
      text-align: center;
      border: 1px solid white;
      box-shadow: none;
      text-shadow: none;
      text-transform: uppercase;
      border-radius: 0;
      color: white;

      &:hover {
        box-shadow: none;
        text-shadow: none;

        background-image: linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        );
      }
    }
  }
}

.search {
  @include side-bar;

  .site-content {
    @include main_container_size;

    .content-area {
      padding: 48px 56px 48px 0;
      margin-top: 60px;

      iframe {
        height: 300px;
      }
    }

    .entry-content {
      margin-top: 24px;
    }
  }
}

.error404 {
  @include side-bar;

  .site-content {
    @include main_container_size;

    .content-area {
      padding: 48px 56px 48px 0;
      margin-top: 60px;

      iframe {
        height: 300px;
      }
    }

    .entry-content {
      margin-top: 24px;
    }
  }
}
