.blog {
  .site-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template: 'main aside';
    margin-top: 40px;
    @include main-container-size;

    .content-area {
      grid-area: main;
    }

    .widget-area {
      grid-area: aside;
    }
  }

  article {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
    h2 {
      position: absolute;
      top: 8px;
      left: 16px;
    }
    .entry-meta {
      position: absolute;
      right: 0;
    }
  }

  .entry-content {
    margin-bottom: 200px;
  }
}
