// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//website container with with auto margin left and right
@mixin main-container-size {
  max-width: $website__width;
  margin-left: auto;
  margin-right: auto;
}

@mixin footer-h3 {
  font-family: $font__headers;
  color: #d99054;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@mixin side-bar {
  .site-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template: 'main aside';

    .content-area {
      grid-area: main;
    }

    .widget-area {
      grid-area: aside;
    }
  }
}

@mixin nav-toggle {
  .search-form {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      order: 2;
    }
    fieldset {
      border: none;
      a {
        padding: 0 12px 0 12px;
      }
    }
  }

  input[type='search'] {
    order: 2;
    display: none;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.75;
    padding-left: 24px;
    color: inherit;

    &:hover {
      color: #2f1339;
    }
  }
}
