/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home {
  .hp-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .hp-hero-banner {
      max-height: 100vh;
      overflow: hidden;
      position: relative;

      img {
        max-width: 100%;
      }
      &::after {
        display: block;
        position: absolute;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        );
        height: 100vh;
        width: 100%;
        content: ' ';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
      } //gradient on home page hero image.
    }
    .hp-banner-logo {
      position: absolute;
      z-index: 10;

      img {
        width: 100%;
      }
    }
  }

  .shop-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    @include main-container-size;

    h2 {
      width: 100%;
    }

    .product-terms {
      display: flex;
      text-align: center;
      justify-content: space-between;

      .shop-terms {
        width: 23%;
        border: 1px solid #e1e1e1;

        img {
          width: 25%;
        }
      }
    }
  }

  .fp-journal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    width: 100%;
    @include main-container-size;

    h2 {
      width: 100%;
    }

    .journal-entries {
      display: flex;
      flex-direction: row;
      box-flex: wrap;
      width: 100%;
      position: relative;

      .fp-journal-content {
        width: 100%;
        max-width: 35%;
        border: 1px solid #e1e1e1;
        margin: 10px;
      }

      .journal-thumbnail {
        img {
          max-height: 225px;
        }
      }
    }
  }
}
